body{
    background-color: white;
    margin:0;
    padding:0;
}
header{
    background-color:black;
    background-image:url("images/spaceimage.png");
    background-size:100%;
    background-position:center;
    height:1000px;
    padding:0;
    text-align:center;
}
ul.topsection{
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:center;
    background-color:rgb(46, 46, 46);
    
}
ul.topsection li{
    display:inline-block;
    margin: 10px 20px;
    margin-right:20px;
}
ul.topsection li a{
    text-decoration:none;
}
ul.topsection li a:hover{
    text-decoration:underline;
}
footer{
    background:rgb(34, 34, 34);
    color:grey;
    font-size:12px;
    padding:1px 20px;
    text-align:center;
}
